body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

header {
    background-color: #1a1816;
	color: #fff;
	padding: 20px 
    ;
}

  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    background-color: #e6ac2f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button[type="submit"]:hover {
    background-color: #f0c63f;
  }
    
  footer {
    background-color: #ccc;
    padding: 1rem;
    text-align: center;
  }
  